# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Envs
.venv/
venv/
env/


# Plots / scratch
*.pdf
*.png
!report/**/*.pdf
!report/**/*.png

archive/
results_tune/

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
